@import "../../assets/constants.scss";
.auth_form {
  // overflow: auto;
  // display: none;
  position: absolute;
  top: 70px;
  right: 120px;
  width: 400px;
  min-height: 300px;
  background-color: white;
  box-shadow: 0 5px 15px rgb(83, 83, 83);
  padding: 20px 20px;
  // padding: 20px 20px;
  color: $primary_black;
  // z-index: 99;
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    right: 35px;
    top: -10px;
  }
  @include respond-to(small) {
    width: 97%;
    right: 0px;
  }
  @include respond-to(medium) {
    width: 350px;
  }
}
// .form_active {
//   display: block;
// }
.form_footer {
}
@media only screen and (max-width: 498px) {
  .auth_form {
    top: 50%;
    left: 10px;
  }
}
