@import "../../../../assets/constants.scss";

$default_margin: 4rem;
@mixin style_section_title {
  text-align: center;
  color: #101010;
  font-size: 3.2rem;
  font-weight: 900;
  margin: $default_margin 0;
  line-height: 3.5rem;
}
@mixin style_section_title_underline {
  content: "";
  background-color: black;
  height: 0.2rem;
  width: 50%;
  display: block;
  margin: 0 auto;
}
.introduce_section {
  padding-top: 4rem;
  padding-bottom: 4rem;

  background-color: black;
  color: #fff;
  width: 100%;
  &_title {
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 2rem;
    &::before {
      @include style_section_title_underline();
    }
    @include respond-to(small){
      font-weight: 700;
      font-size: 20px;
    }
    @include respond-to(medium){
      font-size:35px;
    }
  }
  &_image {
    text-align: center;
  }
  &_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.introduce_section .introduce_section_title_button{
  @include respond-to(small){
    font-size: 1.5rem!important;
  }
}
@media only screen and (max-width: 520px) {
  .section_item_title{
    order:2;
  }
  .section_item_image{
    order:1;
    width:100%;
  }
}


.shop_section {
  &_title {
    @include style_section_title();
    &::before {
      @include style_section_title_underline();
    }
  }
}

.program_section {
  // height: 400px;
  &_title {
    @include style_section_title();
    &::before {
      @include style_section_title_underline();
    }
  }
}

.technique_section {
  &_title {
    @include style_section_title();
    &::before {
      @include style_section_title_underline();
    }
  }
}

@media only screen and (max-width: 499px) {
  .introduce_section {
    a {
      margin-bottom: 2rem;
      font-size: 2rem !important;
    }
    &_title {
      margin: 2rem 0;
    }
  }
}
.btnToShop{
  @include respond-to(small){
    margin-left: 25px;
  }
}
@media only screen and (max-width:520px){
  .introduce_section a{
    font-size: 1.5rem !important; ;
  }
  .introduce_section_title {
    margin: 2rem 5rem;
  }
}
