// $theme-colors: (
//     "info": ,
//     "danger": tomato,
//     "success":green
// );
@import "react-datepicker/dist/react-datepicker.css";
@import "src/assets/constants.scss";
.react-datepicker__input-container input[type="text"] {
  font-size: 1.3rem;
  width: 100%;
  height: 30px;
  padding: 0.5rem;
}
.react-datepicker,
.react-datepicker__current-month,
.react-datepicker-time__header {
  font-size: 1.2rem !important;
}
.form-text {
  font-size: 1.2rem !important;
}
.ql-editor > * {
  font-size: 1.5rem;
}
td {
  font-size: 15px;
  p {
    font-size: 15px;
  }
}
/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
.form-control {
  font-size: 1.3rem !important;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-item {
  font-size: 1.5rem !important;
  .page-link {
    padding: 1rem !important;
  }
}
.invalid-feedback {
  font-size: 1.3rem;
}
.nav-tabs {
  button {
    font-weight: 600;
    font-size: 1.3rem;
  }
}
.spinner-border {
  width: 4rem;
  height: 4rem;
  border: 0.5rem solid !important;
  border-right: 0.5rem solid transparent !important;
}

.toast {
  // padding:1rem !important;
  font-size: 1.5rem !important;
}
.btn {
  font-size: 1.3rem !important;
  padding: 1rem;
}
.text-muted {
  font-size: 1.5rem !important;
}
.form-label {
  font-size: 1.5rem !important;
}
.form-floating {
  height: 5rem;
  .form-select {
    height: 100%;
  }
  label {
    font-size: 1.2rem !important;
  }
}
.form-select {
  font-size: 1.5rem !important;
  label {
    font-size: 1.2 !important;
  }
}
.default-button {
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  transition: all 0.1s linear;
  &:hover {
    background-color: #f7f7f7;
  }
}

.default-outline-button {
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: 0.1px solid rgb(224, 224, 224);
  font-size: 18px;
  transition: all 0.1s linear;
  &:hover {
    background-color: #f7f7f7;
  }
}

.default-danger {
  color: rgb(0, 0, 0);
  &:hover {
    background-color: #ffdfdf;
  }
}

.default-primary {
  color: #2e6efd;
  &:hover {
    background-color: #dfe9ff;
  }
}
.default-outline-primary {
  color: #2e6efd;
  border: 1px solid #b4ccff;
  &:hover {
    background-color: #dfe9ff;
  }
}

.default-input {
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.2);
  height: 36px;
  color: #797979;
  padding-left: 5px;
  label {
    color: #b4b4b4;
  }

  &:focus {
    outline: none;
    box-shadow: 0 1px 5px -2px #42a5f5;
    border-bottom: 1px solid #2196f3;
  }
}

.common-hover {
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #efefef;
    border-radius: 5px;
    padding: 5px;
  }
}

.common-float {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.common-rank-items-1 {
  @extend .common-float;
  background-color: $gold-medal;
}

.common-rank-items-2 {
  @extend .common-float;
  background-color: silver;
}

.common-rank-items-3 {
  @extend .common-float;
  background-color: $bronze-medal;
}
/* ANTD */
.ant-message-custom-content {
  display: flex;
  align-items: center;
}
.ant-picker-dropdown {
  z-index: 10000;
}
.ant-empty {
  overflow: hidden;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $primary_blue;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $primary_blue;
}

.common-outline-button {
  border: 1.5px solid black;
  border-radius: 3px;
  background: transparent;
  font-size: 160%;
  padding: 10px 8px;
  color: black;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}

.common-button {
  border: none;
  background: black;
  border-radius: 3px;
  font-size: 120%;
  padding: 5px 8px;
  color: white;
  font-weight: 600;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.common-button-red {
  background: #e02c2c;
}

.common-button-blue {
  background: #41a9ff;
}

.common-button-green {
  background: #2bc748;
}

.common-button-grey {
  background: #b6b6b6;
}

.common-button-yellow {
  background: #fdc50c;
}

.common-outline-button-blue {
  border: 1.5px solid #41a9ff;
  color: #41a9ff;

  &:hover {
    cursor: pointer;
    background-color: #41a9ff;
    color: white;
  }
}

.common-outline-button-green {
  border: 1.5px solid #2bc748;
  color: #2bc748;

  &:hover {
    cursor: pointer;
    background-color: #2bc748;
    color: white;
  }
}

.common-outline-button-grey {
  border: 1.5px solid #b6b6b6;
  color: #b6b6b6;

  &:hover {
    cursor: pointer;
    background-color: #b6b6b6;
    color: white;
  }
}

.common-outline-button-red {
  border: 1.5px solid #e02c2c;
  color: #e02c2c;

  &:hover {
    cursor: pointer;
    background-color: #e02c2c;
    color: white;
  }
}
