html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
code {
}
#root {
  /* --primary */
  min-height: 100%;
  width: 100%;
}
*,
p,
div,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  width: 100%;
  min-height: 100%;
}

@media only screen and (max-width: 499px) {
  html {
    font-size: 50%;
  }
}
