@import "../../assets/constants.scss";

.product {
  transition: all 0.5 ease;
  cursor: pointer;
  // height: 155px !important;
  height: 155px !important;
  border: none !important;
  text-align: center;
  min-height: 250px;
  margin: 60px 0;
  &:hover {
    filter: brightness(30%);
  }
  &_image {
    // border-bottom: 1px solid black;
    object-fit: contain;
    height: 100%;
  }
  &_name {
    font-size: 20px;
    font-weight: 700;
  }
  &_price {
    font-size: 20px;
    font-weight: 800;
    color: $blue_primary;
  }
}
