.product_container {
  position: relative;
  min-height: calc(100vh - 60px);
  width: 100%;
}
.shopping_page_container {
  min-height: 100vh;
  // margin-top: 60px;
  // background-color: #ebeaef;
  margin-top: 60px;
}
