@import "../../../assets/constants.scss";
.search_bar {
  &:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  &_container {
    width: 60%;
    position: relative;
    margin: 20px auto;
  }
  &_container-v2 {
    width: 60%;
    position: relative;
  }
  &_icon {
    position: absolute;
    color: #999;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: 700;
    transition: all 0.25s;
    &:hover {
      color: grey;
    }
  }
  transition: all 0.25s;
  width: 100%;
  margin: 0 auto;
  padding: 10px 50px;
  font-size: 1.5rem;
  border-style: none;
  border-radius: 5px;
  background: #f1f1f1;
}
