.card {
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  margin-bottom: 40px;
  transition: all 0.25s ease-in-out;
  &:hover {
    filter: brightness(30%);
  }
  &_image {
    height: 100%;
    filter: brightness(80%);
  }
  &_body {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &_name {
    color: #fff;
    font-weight: 900;
    font-size: 20px;
  }
  &_price {
    font-style: italic;
    color: #fff;
  }
}

.exercise_card {
  height: 200px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  margin-bottom: 40px;
  transition: all 0.25s ease-in-out;
  &:hover {
    filter: brightness(30%);
  }
  &_image {
    height: 100%;
    filter: brightness(80%);
    object-fit: cover;
  }
  &_body {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &_name {
    color: #fff;
    font-weight: 900;
    font-size: 20px;
  }
  &_like {
    font-style: italic;
    color: #fff;
  }
  &_tag {
    z-index: 10;
    padding: 5px 2px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    width: 80px;
    // height: 17px !important;
    // line-height: 17px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
  }
}
