@mixin handleTextOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard__container {
  min-height: calc(100vh - 60px);
  display: flex;
  width: calc(100% - 20px);
  flex-wrap: wrap;
  margin-left: 20px;
  .dashboard {
    &__left {
      width: calc(70% - 40px);
      margin: 40px 40px 0 0;
      height: calc(100% - 40px);
      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        height: calc(10% - 40px);
        &-title {
          font-size: 3rem;
          font-weight: 800;
        }
        &-settings i {
          margin-right: 40px;
          font-size: 2rem;
        }
      }
      &__body {
        &-summary {
          display: flex;
          align-items: center;
          margin-bottom: 40px;
          height: calc(90% - 40px);
          .summary__item {
            display: flex;
            flex-direction: column;
            width: 30%;
            // margin: 0 40px;
            margin: 0 calc(33.33% - 30%);
            &-title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 1.5rem;
              color: #999;
              font-weight: 400;
              padding-bottom: 5px;
              margin-bottom: 10px;
              box-shadow: 0px 0.5px 0 rgb(197, 197, 197);
            }
            &-value {
              font-size: 3rem;
              color: #333;
              font-weight: 700;
            }
          }
        }
        &-chart-title {
          font-size: 2.5rem;
          font-weight: 700;
        }
        &-chart {
          //   min-height: 200px;
          //   height: 50%;
          width: 100%;
        }
      }
    }

    &__right {
      margin: 0 20px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: calc(30% - 20px);
      height: 100vh;
      &__item {
        &-title {
          font-size: 2.5rem;
          font-weight: bold;
          text-transform: capitalize;
          margin-bottom: 20px;
        }
        .dashboard__right__item__details {
          margin-bottom: 20px;
          display: flex;
          align-items: center;

          &-left {
            display: flex;
            align-items: center;
            // width: 33.333%;
            flex: 1;
            @include handleTextOverflow();
            .item-image {
              flex-shrink: 0;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 5px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .product-image {
              border-radius: 0;
            }
            .item-name {
              // margin-right: 20px;
              // flex: 1;
              @include handleTextOverflow();
              white-space: nowrap;
              font-size: 1.5rem;
              font-weight: 700;
              color: black;
            }
          }
          &-center {
            @include handleTextOverflow();
            flex: 1;

            font-size: 1.5rem;
            font-weight: 400;
            color: #999;
            text-align: center;
          }

          &-right {
            flex: 1;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 700;
            color: black;
          }
        }
      }
    }
    &__bottom {
      display: flex;
      margin-top: 20px;
      width: 100%;
      min-height: 50%;
      max-height: 100%;
      justify-content: space-around;
      &__chart {
        width: calc(40% - 20px);
        height: fit-content;
        margin-bottom: 20px;
        &-title {
          font-size: 3rem;
          font-weight: 800;
        }
        // flex-basis: 50%;
      }
    }
  }
}
@media only screen and (max-width: 499px) {
  .dashboard__container {
    flex-direction: column;
    .dashboard {
      &__left {
        width: calc(100% - 60px);
        &__header {
          &-title {
          }
          &-settings i {
            // margin-right: 40px;
          }
        }
        &__body {
          &-summary {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            height: calc(90% - 40px);
            .summary__item {
              display: flex;
              flex-direction: column;
              // width: 30%;
              flex: 1;
              // margin: 0 calc(33.33% - 30%);
              &-title {
              }
              &-value {
              }
            }
          }
          &-chart-title {
          }
          &-chart {
          }
        }
      }
      &__right {
        width: 100%;
      }
      &__bottom {
        flex-direction: column;
        &__chart {
          width: 100%;
        }
      }
    }
  }
}
