@import "../../../../assets/constants.scss";

@keyframes slide {
  from {
    height: 0%;
  }
  to {
    height: 22px;
  }
}
.side_bar {
  display: flex;
  flex-direction: column;

  height: 500px;
  border-radius: 5px;
}
.product_type {
  margin: 20px 0;
  p {
    animation: slide 0.25s linear forwards;
  }
  &_title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    border-top: 1px solid black;
    & i {
      cursor: pointer;
    }
  }
  & p {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 15px;
    margin-left: 20px;
    font-weight: 500;
    color: #999;
  }
}
.other_products {
  &_title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid black;
  }
  &_item {
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #999;
  }
}
