@import "../../assets/constants.scss";

.search_bar {
  &:focus {
    outline: none;
    box-shadow: 3px 3px black;
  }
  &_container {
    text-align: center;
    width: 100%;
    position: relative;
    margin: 20px 0;
  }
  &_icon {
    position: absolute;
    color: black;
    top: 10px;
    left: 73%;
    font-size: 25px;
    font-weight: 700;
    transition: all 0.25s;
    &:hover {
      color: grey;
    }
  }
  transition: all 0.25s;
  width: 60% !important;
  margin: 0 auto;
  padding: 10px 10px;

  border-style: none;
  border-radius: 5px;
  background: $white_smoke;
}
