@import "../../../assets/constants.scss";

.nav_bar {
  background-color: #000000;
  color: #eee;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  display: flex;
  // display: none;
  justify-content: space-between;

  &_link {
    margin-right: 48px;
    display: flex;
    align-items: center;
    // justify-content: center;
    position: relative;
  }
  &_item {
    text-decoration: none;
    color: $white_smoke;
    font-weight: 700;
    padding: 8px 16px;
    font-size: 1.5rem;
    height: 40px;
    min-width: 140px;
    cursor: pointer;
    // text-align: center;
    display: flex;
    align-items: center;
    &:hover {
      color: white !important;
    }
    &-icon {
      width: 20px;
      margin: 0 10px;
    }
    & .user_image {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      object-fit: cover;
    }
    &:nth-child(4) {
      border-right: 2px solid $white_smoke !important;
    }
    &:last-of-type {
      position: relative;

      & #dropdown_toggle {
        background-color: #000000;
        border: none !important;
        font-weight: 700;
        font-size: 16px;
      }
      & #dropdown_divider {
        height: 3px !important;
        background-color: $white_smoke;
      }
      & .dropdown-menu {
        background-color: black;
        transform: translate(-114px, 56px) !important;
        width: 200px;
      }
      .pointer {
        cursor: pointer;
      }
      .dropdown_item {
        display: block;
        color: $white_smoke;
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        padding: 5px 10px;
        transition: all 0.25s linear;
        color: $white_smoke;
        font-weight: 700;
        .cart-item-number {
          font-size: 1.3rem;
          font-style: normal;
          padding: 0.5rem;
          border-radius: 0.5rem;
          background-color: $white_smoke;
          color: white;
          margin-left: 1rem;
        }
        &_icon {
          width: 20px;
          margin-right: 10px;
        }
        &:hover {
          color: white;
          background-color: #333;
        }
      }
    }
  }

  &_item a,
  span {
    // line-height: 16px;
    text-decoration: none;
    color: $white_smoke;
    font-size: 16px;
    font-weight: 700;
    &:hover {
      color: white;
    }
  }
  &_logo {
    cursor: pointer;
    margin-left: 48px;
  }

  &_item_active,
  .dropdown_item_active {
    color: white !important ;
  }
  &_toggle_icon {
    display: none;
  }
  &_close_icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    color: $white_smoke;
    cursor: pointer;
    z-index: 1000000;
  }
}

@media only screen and (max-width: 499px) {
  .nav_bar {
    display: none;
    flex-direction: column;
    &_link {
      flex-direction: column;
      margin-right: 0px;
      justify-content: start !important;
      align-items: flex-start;
      .nav_bar_item {
        padding: 30px;

        &:nth-child(3) {
          border-right: none !important;
        }
        &:last-child {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
    &_toggle_icon {
      display: block;
      font-size: 25px;
      padding: 2rem;
      background: black;
      color: white;
      position: fixed;
      width: 100vw;
      height: 60px;
      position: fixed;
      top: 0;
      left: 0;
      cursor: pointer;
      z-index: 1000;
      // &:active ~ .nav_bar {
      //   display: block;
      // }
    }
    &_close_icon {
      display: block;
    }
    &_active {
      display: block;
      position: fixed;
      top: 0px;
      left: 0;
      z-index: 1000;
      height: 100%;
      width: 90%;
      .nav_bar_logo {
        margin-bottom: 40px;
      }
      .nav_bar_link {
      }
    }
  }
}
.dropdown .dropdown-menu.show{
  inset: 0px 0px auto !important;
  @include respond-to(small){
    inset: 0px 0px auto auto !important;
  }
}