.nutrition_container {
  display: flex;
  padding-top: 1px;
  width: 100%;
  background-color: #fff;
  min-height: calc(100vh - 60px);
  // FIX CHILD ELEMENT WHEN USING HEIGHT (%)
  // height: 1px;
}
