.checkout-card {
  background: #999;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  width: 50%;
  height: calc(100vh - 20px);
  margin: 20px auto 0 auto;
  // text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  i {
    // padding: 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    font-size: 100px;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  h1 {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #333;
  }
}
.card-success {
  i {
    color: #9abc66;
  }
  h1 {
    color: #9abc66;
  }
}
.card-fail {
  i {
    color: tomato;
  }
  h1 {
    color: tomato;
  }
}
